.field {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 50%;
  text-align: center;
  font-size: 48px;
  font-weight: bold;
  padding-top: calc(50% - 48px);
}

#upper {
  background-color: green;
}

#lower {
  background-color: red;
}